body {
    background-color: #ffcc99;
}
head {
}
* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
   background-color: #ffcc99;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
